.tree-card {
  height: 100%;
}

.left-card {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right-card {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tree-card .ant-card-body {
  min-height: 240px;
  height: 100%;
  max-height: 70vh;
  overflow: auto;
}

/**
 * Fix of header overlap
 */
.tree-editor-layout .ant-card-head {
  position: relative;
  z-index: 50;
}

.tree-editor-empty {
  padding-top: 10vh;
}

@media screen and (max-width: 1200px) { /* NOTE: antd xl breakpoint */
  .tree-card .ant-card-body {
    max-height: calc(100vh - 90px);
  }
}
